.transaction-container {
    position: fixed;
    height: calc(90vh - 60px);
    width: 60%;
    left: 20%;
    top: 5vh;
    background: rgb(36, 36, 36);
    border-radius: 12px;
    z-index: 99;
    display: block;
    align-content: center;
    align-items: center;
	justify-content: space-around;
    text-align: center;
    padding-top: 60px;
}

#pl {
    margin-left: 10px;
}

.res-container {
    height: 40px;
    line-height: 40px;
    width: 80%;
    background: rgb(89, 89, 89);
    margin: 4px 10%;
    border-radius: 4px;
}
.res-container1 {
    height: 40px;
    line-height: 40px;
    width: 80%;
    background: rgb(89, 89, 89);
    margin: 4px 10%;
    border-radius: 4px;
}
.selected-res {
    height: 40px;
    line-height: 40px;
    width: 80%;
    background: rgb(135, 255, 155);
    margin: 4px 10%;
    border-radius: 4px;
}

.res-container:hover {
    cursor: pointer;
    transform: scale(.99);
    background: rgb(107, 107, 107);
}



#btn-transaction {
    padding: 5px 0px;
    border-radius: 4px;
    text-align: center;
    background: rgb(67, 218, 67);
    width: 20%;
    left: 40%;
    border: none;
    font-size: 26px;
    position: absolute;
    bottom: 10px;
}

#btn-transaction:hover {
    transform: scale(.98);
    background: rgb(81, 238, 81);
    cursor: pointer
}

.search-result {
    width: 80%;
    height: auto;
    max-height: 40%;
    overflow-y: auto;
    min-height: 40px;
    background: rgb(165, 165, 165);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    border-radius: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.close {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
}

